version: '3.3'
services:
  db:
    container_name: db
    image: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 190204
      POSTGRES_DB: maktabu_bot
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - shared
    ports:
      - 5439:5432

  bot:
    container_name: bot
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 190204
      POSTGRES_DB: maktabu_bot
      TOKEN: 6015319906:AAHRSae9CWIdG129ijswMX4Nu2EUxGIAsuQ
    volumes:
      - bot_data:/bot_data
    networks:
      - shared
    depends_on:
      - db
networks:
  shared:
    driver: bridge
volumes:
  db_data:
  bot_data: